<div class="jumbotron">
  <h1>Singapore's SSL/TLS Standards</h1>
  <p>How securely configured are the information systems which we use every day?</p>
  <p>
    <%= link_to('Learn More', about_path, class: 'btn btn-primary btn-lg') %>
    <%= link_to('Participate in the Survey', collect_clients_path, class: 'btn btn-primary btn-lg') %>
  </p>
</div>
<hr />