<h1>User Statistics</h1>
<ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
  <li><a href="#protocol" data-toggle="tab">Broken down by protocol</a></li>
  <li><a href="#platform_then_protocol" data-toggle="tab">Broken down by platform</a></li>
  <li><a href="#browser_then_protocol" data-toggle="tab">Broken down by browser</a></li>
</ul>
<div class="tab-content">
  <div class="active fade in tab-pane" id="home"><div class="container row-fluid">
    Click on the tabs above to see the statistics, grouped in various ways.
  </div></div>
  <div class="tab-pane fade" id="protocol"><div class="container row-fluid"><%= pie_chart @ssl_versions %></div></div>
  <div class="tab-pane fade" id="platform_then_protocol"><div class="container row-fluid"><%= pie_chart @ssl_versions_by_platform %></div></div>
  <div class="tab-pane fade" id="browser_then_protocol"><div class="container row-fluid"><%= pie_chart @ssl_versions_by_browser %></div></div>
</div>
