<h1>Privacy Policy</h1>
<ul>
  <li>I will only collection information about your computer that does not allow me to identify your identity.</li>
  <ul>
    <li>Information that allow tracking abuse will however be tracked. At this point in time, only your IP address is stored for this purpose.</li>
  </ul>
  <li>Also, at this point, insufficient information is collected to collectively identify users together. Only the information your browser reports is stored for purposes of research.</li>
  <ul>
    <li>Your browser's <em>user-agent</em> &dash; some information about your type and version of browser (e.g. Firefox 28), and some information about your operating system (e.g. Windows 8.1) is collected.</li>
  </ul>
</ul>