<h1>Participate</h1>
<div class="collection">
<% CollectorController::COLLECTOR_PORTS.each_index do |i| %>
  <img src="https://<%= request.host %>:<%= CollectorController::COLLECTOR_PORTS[i] %>"
       alt="Your browser could not understand <%= ClientSample::PROTOCOLS[i] %>" class="collection" />
<% end %>
</div>

<p>Thanks for participating! Your information will help us know more about the state of SSL/TLS Security in Singapore.</p>
<p><div class="btn-group"><%= link_to('View Statistics', clients_path, class: 'btn btn-primary') %></div></p>